<!doctype html>
<html>
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
	<body> 
  </div>
  </nav>
  <div class="col s12 m12 center-align blue">
<div class="slider">
    <ul class="slides">
      <li>
        <img src="./img/1@2x.png"> <!-- random image -->
        <div class="caption center-align">
          <h1>We are Pushstart</h1>
          <h4 class="light grey-text text-lighten-3">India's most active platform for entrepreneurs</h4>
        </div>
      </li>
      <li>
        <img src="./img/about.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="./img/1@2x.png"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="./img/about.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-1">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="container col s12 m12 center-align white-text blue">
    <h2 style="padding-top:20 ">Our #Pushstory</h2>
    <p>
      <br>
      Feels GOOD to be connected here too! <br>

      Hopefully you would recognise us, as we are one of the very few startup communities on FB which is highly curated, productive and spam-free. Also, we use the word PUSH a lot. #PushFam :P 
      
      Gotcha? 
      
      Remember sharing your email-id and interests at the time of joining Pushstart? 
      
      We have finally decided to do something with them. 
      
      From this very day, you will receive updates once a week (Day and time?) around PushAMA, PushQnA and PushEvents based on your interest category and location (Personalised Updates). 
Feels GOOD to be connected here too! <br>

Hopefully you would recognise us, as we are one of the very few startup communities on FB which is highly curated, productive and spam-free. Also, we use the word PUSH a lot. #PushFam :P 

Gotcha? 

Remember sharing your email-id and interests at the time of joining Pushstart? 

We have finally decided to do something with them. 

From this very day, you will receive updates once a week (Day and time?) around PushAMA, PushQnA and PushEvents based on your interest category and location (Personalised Updates). 
    </p>
  </div>


<div class="carousel" style="width: 800px; margin: 0 auto">
  <a class="carousel-item" href="#one!"><img src="./img/1@2x.png"></a>
  <a class="carousel-item" href="#two!"><img src="./img/1@2x.png"></a>
  <a class="carousel-item" href="#three!"><img src="./img/1@2x.png"></a>
  <a class="carousel-item" href="#four!"><img src="./img/1@2x.png"></a>
  <a class="carousel-item" href="#five!"><img src="./img/1@2x.png"></a>
</div>
<div class="family">
<div class="col s12 m12 center-align  grey lighten-5">
     
        <h2 style="padding-top: 5vh;padding-bottom: 5vh; ">Family of #Pushcontributors</h2>
      <div class="container">
         
  </div>
  <div class="row ">
    <div class="col s2 offset-s1">
  <div class="card z-depth-4">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/1@2x.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
        <p><a href="#">LinkedIn</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
        <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    </div>
    <div class="col s2 ">
        <div class="card z-depth-4">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="./img/1@2x.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
          </div>
          <div class="col s2 ">
              <div class="card z-depth-4">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./img/1@2x.png">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                </div>
                <div class="col s2 ">
                    <div class="card z-depth-4">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="./img/1@2x.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                          <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                          </div>
                      </div>
                      </div>
                      <div class="col s2 ">
                          <div class="card z-depth-4">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="./img/1@2x.png">
                              </div>
                              <div class="card-content">
                                  <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                <p><a href="#">This is a link</a></p>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                              </div>
                            </div>
                            </div>
                            <div class="col s2 offset-s1">
                                <div class="card z-depth-4">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" src="./img/1@2x.png">
                                    </div>
                                    <div class="card-content">
                                      <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                      <p><a href="#">LinkedIn</a></p>
                                    </div>
                                    <div class="card-reveal">
                                      <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
                                      <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col s2 ">
                                      <div class="card z-depth-4">
                                          <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="./img/1@2x.png">
                                          </div>
                                          <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                            <p><a href="#">This is a link</a></p>
                                          </div>
                                          <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col s2 ">
                                            <div class="card z-depth-4">
                                                <div class="card-image waves-effect waves-block waves-light">
                                                  <img class="activator" src="./img/1@2x.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                  <p><a href="#">This is a link</a></p>
                                                </div>
                                                <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                  </div>
                                              </div>
                                              </div>
                                              <div class="col s2 ">
                                                  <div class="card z-depth-4">
                                                      <div class="card-image waves-effect waves-block waves-light">
                                                        <img class="activator" src="./img/1@2x.png">
                                                      </div>
                                                      <div class="card-content">
                                                          <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                        <p><a href="#">This is a link</a></p>
                                                      </div>
                                                      <div class="card-reveal">
                                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="col s2 ">
                                                        <div class="card z-depth-4">
                                                            <div class="card-image waves-effect waves-block waves-light">
                                                              <img class="activator" src="./img/1@2x.png">
                                                            </div>
                                                            <div class="card-content">
                                                                <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                              <p><a href="#">This is a link</a></p>
                                                            </div>
                                                            <div class="card-reveal">
                                                              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                            </div>
                                                          </div>
                                                          </div>
                                                          <div class="col s2 offset-s1">
                                                              <div class="card z-depth-4">
                                                                  <div class="card-image waves-effect waves-block waves-light">
                                                                    <img class="activator" src="./img/1@2x.png">
                                                                  </div>
                                                                  <div class="card-content">
                                                                    <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                    <p><a href="#">LinkedIn</a></p>
                                                                  </div>
                                                                  <div class="card-reveal">
                                                                    <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
                                                                    <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                  </div>
                                                                </div>
                                                                </div>
                                                                <div class="col s2 ">
                                                                    <div class="card z-depth-4">
                                                                        <div class="card-image waves-effect waves-block waves-light">
                                                                          <img class="activator" src="./img/1@2x.png">
                                                                        </div>
                                                                        <div class="card-content">
                                                                            <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                          <p><a href="#">This is a link</a></p>
                                                                        </div>
                                                                        <div class="card-reveal">
                                                                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                          </div>
                                                                      </div>
                                                                      </div>
                                                                      <div class="col s2 ">
                                                                          <div class="card z-depth-4">
                                                                              <div class="card-image waves-effect waves-block waves-light">
                                                                                <img class="activator" src="./img/1@2x.png">
                                                                              </div>
                                                                              <div class="card-content">
                                                                                  <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                <p><a href="#">This is a link</a></p>
                                                                              </div>
                                                                              <div class="card-reveal">
                                                                                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                </div>
                                                                            </div>
                                                                            </div>
                                                                            <div class="col s2 ">
                                                                                <div class="card z-depth-4">
                                                                                    <div class="card-image waves-effect waves-block waves-light">
                                                                                      <img class="activator" src="./img/1@2x.png">
                                                                                    </div>
                                                                                    <div class="card-content">
                                                                                        <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                      <p><a href="#">This is a link</a></p>
                                                                                    </div>
                                                                                    <div class="card-reveal">
                                                                                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                      </div>
                                                                                  </div>
                                                                                  </div>
                                                                                  <div class="col s2 ">
                                                                                      <div class="card z-depth-4">
                                                                                          <div class="card-image waves-effect waves-block waves-light">
                                                                                            <img class="activator" src="./img/1@2x.png">
                                                                                          </div>
                                                                                          <div class="card-content">
                                                                                              <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                            <p><a href="#">This is a link</a></p>
                                                                                          </div>
                                                                                          <div class="card-reveal">
                                                                                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                          </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="col s2 offset-s1">
                                                                                            <div class="card z-depth-4">
                                                                                                <div class="card-image waves-effect waves-block waves-light">
                                                                                                  <img class="activator" src="./img/1@2x.png">
                                                                                                </div>
                                                                                                <div class="card-content">
                                                                                                  <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                  <p><a href="#">LinkedIn</a></p>
                                                                                                </div>
                                                                                                <div class="card-reveal">
                                                                                                  <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
                                                                                                  <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                </div>
                                                                                              </div>
                                                                                              </div>
                                                                                              <div class="col s2 ">
                                                                                                  <div class="card z-depth-4">
                                                                                                      <div class="card-image waves-effect waves-block waves-light">
                                                                                                        <img class="activator" src="./img/1@2x.png">
                                                                                                      </div>
                                                                                                      <div class="card-content">
                                                                                                          <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                        <p><a href="#">This is a link</a></p>
                                                                                                      </div>
                                                                                                      <div class="card-reveal">
                                                                                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    <div class="col s2 ">
                                                                                                        <div class="card z-depth-4">
                                                                                                            <div class="card-image waves-effect waves-block waves-light">
                                                                                                              <img class="activator" src="./img/1@2x.png">
                                                                                                            </div>
                                                                                                            <div class="card-content">
                                                                                                                <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                              <p><a href="#">This is a link</a></p>
                                                                                                            </div>
                                                                                                            <div class="card-reveal">
                                                                                                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                              </div>
                                                                                                          </div>
                                                                                                          </div>
                                                                                                          <div class="col s2 ">
                                                                                                              <div class="card z-depth-4">
                                                                                                                  <div class="card-image waves-effect waves-block waves-light">
                                                                                                                    <img class="activator" src="./img/1@2x.png">
                                                                                                                  </div>
                                                                                                                  <div class="card-content">
                                                                                                                      <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                    <p><a href="#">This is a link</a></p>
                                                                                                                  </div>
                                                                                                                  <div class="card-reveal">
                                                                                                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                </div>
                                                                                                                <div class="col s2 ">
                                                                                                                    <div class="card z-depth-4">
                                                                                                                        <div class="card-image waves-effect waves-block waves-light">
                                                                                                                          <img class="activator" src="./img/1@2x.png">
                                                                                                                        </div>
                                                                                                                        <div class="card-content">
                                                                                                                            <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                          <p><a href="#">This is a link</a></p>
                                                                                                                        </div>
                                                                                                                        <div class="card-reveal">
                                                                                                                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                        </div>
                                                                                                                      </div>
                                                                                                                      </div>
                                                                                                                      <div class="col s2 offset-s1">
                                                                                                                          <div class="card z-depth-4">
                                                                                                                              <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                <img class="activator" src="./img/1@2x.png">
                                                                                                                              </div>
                                                                                                                              <div class="card-content">
                                                                                                                                <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                <p><a href="#">LinkedIn</a></p>
                                                                                                                              </div>
                                                                                                                              <div class="card-reveal">
                                                                                                                                <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
                                                                                                                                <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                              </div>
                                                                                                                            </div>
                                                                                                                            </div>
                                                                                                                            <div class="col s2 ">
                                                                                                                                <div class="card z-depth-4">
                                                                                                                                    <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                      <img class="activator" src="./img/1@2x.png">
                                                                                                                                    </div>
                                                                                                                                    <div class="card-content">
                                                                                                                                        <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                      <p><a href="#">This is a link</a></p>
                                                                                                                                    </div>
                                                                                                                                    <div class="card-reveal">
                                                                                                                                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                      </div>
                                                                                                                                  </div>
                                                                                                                                  </div>
                                                                                                                                  <div class="col s2 ">
                                                                                                                                      <div class="card z-depth-4">
                                                                                                                                          <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                            <img class="activator" src="./img/1@2x.png">
                                                                                                                                          </div>
                                                                                                                                          <div class="card-content">
                                                                                                                                              <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                            <p><a href="#">This is a link</a></p>
                                                                                                                                          </div>
                                                                                                                                          <div class="card-reveal">
                                                                                                                                              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        </div>
                                                                                                                                        <div class="col s2 ">
                                                                                                                                            <div class="card z-depth-4">
                                                                                                                                                <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                  <img class="activator" src="./img/1@2x.png">
                                                                                                                                                </div>
                                                                                                                                                <div class="card-content">
                                                                                                                                                    <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                  <p><a href="#">This is a link</a></p>
                                                                                                                                                </div>
                                                                                                                                                <div class="card-reveal">
                                                                                                                                                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                  </div>
                                                                                                                                              </div>
                                                                                                                                              </div>
                                                                                                                                              <div class="col s2 ">
                                                                                                                                                  <div class="card z-depth-4">
                                                                                                                                                      <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                        <img class="activator" src="./img/1@2x.png">
                                                                                                                                                      </div>
                                                                                                                                                      <div class="card-content">
                                                                                                                                                          <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                        <p><a href="#">This is a link</a></p>
                                                                                                                                                      </div>
                                                                                                                                                      <div class="card-reveal">
                                                                                                                                                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                      </div>
                                                                                                                                                    </div>
                                                                                                                                                    </div>
                                                                                                                                                    <div class="col s2 offset-s1">
                                                                                                                                                        <div class="card z-depth-4">
                                                                                                                                                            <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                              <img class="activator" src="./img/1@2x.png">
                                                                                                                                                            </div>
                                                                                                                                                            <div class="card-content">
                                                                                                                                                              <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                              <p><a href="#">LinkedIn</a></p>
                                                                                                                                                            </div>
                                                                                                                                                            <div class="card-reveal">
                                                                                                                                                              <span class="card-title grey-text text-darken-4">Neeraj Joshi<i class="material-icons right">close</i></span>
                                                                                                                                                              <p>founder @Pushstart <br>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                            </div>
                                                                                                                                                          </div>
                                                                                                                                                          </div>
                                                                                                                                                          <div class="col s2 ">
                                                                                                                                                              <div class="card z-depth-4">
                                                                                                                                                                  <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                                    <img class="activator" src="./img/1@2x.png">
                                                                                                                                                                  </div>
                                                                                                                                                                  <div class="card-content">
                                                                                                                                                                      <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                                    <p><a href="#">This is a link</a></p>
                                                                                                                                                                  </div>
                                                                                                                                                                  <div class="card-reveal">
                                                                                                                                                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col s2 ">
                                                                                                                                                                    <div class="card z-depth-4">
                                                                                                                                                                        <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                                          <img class="activator" src="./img/1@2x.png">
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="card-content">
                                                                                                                                                                            <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                                          <p><a href="#">This is a link</a></p>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="card-reveal">
                                                                                                                                                                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                                          </div>
                                                                                                                                                                      </div>
                                                                                                                                                                      </div>
                                                                                                                                                                      <div class="col s2 ">
                                                                                                                                                                          <div class="card z-depth-4">
                                                                                                                                                                              <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                                                <img class="activator" src="./img/1@2x.png">
                                                                                                                                                                              </div>
                                                                                                                                                                              <div class="card-content">
                                                                                                                                                                                  <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                                                <p><a href="#">This is a link</a></p>
                                                                                                                                                                              </div>
                                                                                                                                                                              <div class="card-reveal">
                                                                                                                                                                                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                                                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                                                </div>
                                                                                                                                                                            </div>
                                                                                                                                                                            </div>
                                                                                                                                                                            <div class="col s2 ">
                                                                                                                                                                                <div class="card z-depth-4">
                                                                                                                                                                                    <div class="card-image waves-effect waves-block waves-light">
                                                                                                                                                                                      <img class="activator" src="./img/1@2x.png">
                                                                                                                                                                                    </div>
                                                                                                                                                                                    <div class="card-content">
                                                                                                                                                                                        <span class="card-title activator grey-text text-darken-4">Neeraj Joshi</span>
                                                                                                                                                                                      <p><a href="#">This is a link</a></p>
                                                                                                                                                                                    </div>
                                                                                                                                                                                    <div class="card-reveal">
                                                                                                                                                                                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                                                                                                                                                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                                                                                                                                                    </div>
                                                                                                                                                                                  </div>
                                                                                                                                                                                  </div>
                                                                                                                                                                                  
                          
                         
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">

	 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.carousel').carousel();
  });
	$('.carousel.carousel-slider').carousel({full_width: true});
</script>
<script>  $('.pushpin-demo-nav').each(function() {
    var $this = $(this);
    var $target = $('#' + $(this).attr('data-target'));
    $this.pushpin({
      top: $target.offset().top,
      bottom: $target.offset().top + $target.outerHeight() - $this.height()
    });
  });
  $(document).ready(function(){
    $('.pushpin').pushpin();
  });
  </script>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
    </script>
	</body>
</html>
