<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pushstart</title>

    <!-- SEO -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./img/logo.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="pushstart is a Full Service design and cinematography firm.">
    <meta name="keywords"
        content="pushstart, pushstart, logo, design, graphic, video, editing, photoshop, adobe, illustrator, xd, sketch, painting, ui, ux, app, agile team, development, web, ai, outsourcing, ecommerce, fintech, entertainment, crm, social media, logistics, analytics, erp, enterprise, startup, cloud, big data, iot, retail, javascript, js, react, reactjs, node, nodejs, node, angular, angularjs, mean, mern, mongo, mongo db, ibm watson, amazon, aws, scrum, agile, kanban">
    <meta name="robots" content="index,follow">
    <meta name="title" content="Reliable outsource partner for designing the product of all scales">
    <meta property="og:title" content="urbanstop">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://pushstart.in/">
    <meta property="og:site_name" content="pushstart">
    <meta property="og:image" content="./img/logo.png">
    <meta property="og:description"
        content="Reliable outsource partner for designing the product of all scales, a Full Service design and cinematography firm">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Favicon -->
    <!-- Desktop browsers (including 16x16, 32x32 & 48x48 PNGs) -->
    <link rel="shortcut icon" href="./img/logo.png">
    <!-- Modern browsers & Devices -->
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="48x48">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="64x64">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="128x128">
    <link rel="icon" type="image/png" href="./img/logo.png" sizes="196x196">
    <!-- iOS & other mobile devices -->
    <link rel="apple-touch-icon" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="167x167" href="./img/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/logo.png">
    <link rel="stylesheet" type="text/css" href="./img/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./img/slick/slick-theme.css">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }
    </style>
    <!-- Favicon -->
</head>

<body>
    <main>
        <nav>
            <div class="container">
                <div class="nav-wrapper ">
                    <a href="/" class="brand-logo left">
                        <img src="./img/logo.svg" />
                    </a>
                    <ul id="nav-mobile white" class="right hide-on-med-and-down ">
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="#join">Join Pushstart</a></li>
                </div>
                </ul>
                <!-- Mobile Side Nav -->
                <ul id="slide-out" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#join">Joint Pushstart</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        </div>
        </nav>


        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
              <source src="./img/video.mp4" type="video/mp4">
            </video>
            <div class="container">
              <div class="video-container">
                <div class="w-100 text-white">
                  <h1 class="display-3">
                        Join India’s most active
                        Community of <span>Entrepreneurs</span>
                  </h1>
                </div>
                <div class="coverlogin">
                <div class="row">
                    <form action="/signup" method="POST">
                        <div class="input-field col s7 offset-s4">
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="Your email id" />
                        </div>
                        <div class="input-field col s1 inline-btn">
                            <button type="submit" class="waves-effect waves-light btn">Join Now</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
          </header>

        <!-- About -->



        <section class="about" id="aboutuslink">
            <div class="container ">
                <div class="row top-bottom">
                    <div class="col s12  ">
                        <h2 class="center-align">Who are we?</h2>
                        <p class="text-black center-align">
                            With over 17,000 members across all the Tier 1 and 2 cities,
                            we are India's only engagement platform that connects entrepreneurs,
                            dreamers and doers. You can~ Ask candid questions, Join conversations
                            with industry leaders, Find a mentor and Build a network of supporters.
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- Pushstart Features -->
        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 center-align grey lighten-3">
                        <h2 style="padding-top:20 ">How it works here?</h2>
                        <p2
                            style="max-width: 350px; display: block; margin: auto; color: #6B7B83; padding-bottom: 50px;">
                            Sign up with just your email address and
                            get access to our platforms within 48 hours.
                        </p2>
                    </div>
                    <div class="col s12 m4" style="padding-top:5em">
                        <div class="center-align">
                            <img src="./img/engage.svg" style="margin: 0 auto;height: 180px; width: 180px;"
                                alt="Two people engaging together" />
                            <h5 href="#"><span>1.</span> Engage</h5>
                            <p>Engage with fellow Pushstarters.</p>
                        </div>
                    </div>
                    <div class="col s12 m4 " style="padding-top:5em">
                        <div class="center-align white">
                            <img src="./img/learn.svg" style="margin: 0 auto; height: 180px; width: 180px;"
                                alt="One person holding books" />
                            <h5 href="#"><span>2.</span> Learn</h5>
                            <p>Connect and grow your knowledge.</p>
                        </div>
                    </div>
                    <div class="col s12 m4" style="padding-top:5em">
                        <div class="center-align white">
                            <img src="./img/enjoy.svg" style="margin: 0 auto;  height: 180px; width: 180px;"
                                alt="Enjoying" />
                            <h5 href="#"><span>3.</span> Enjoy</h5>
                            <p>Connect and Enjoy at our events.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="parallax-container">
            <div class="parallax"><img src="./img/1@2x.png"></div>

            <section class="about" id="aboutuslink">
                <div class="container">
                    <div class="row top-bottom">
                        <div class="col s12 m12 l6 top-margin ">
                            <h2 class="white-text">#AskPS and #PushConnect </h2>
                            <p class="white-text">
                                Ask Questions and Seek Connections to Solve your Daily Startup Problems.


                            </p>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="about-img top">
                                <img src="./img/about.png" alt="Group of People" />
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>

        <div class="parallax-container">
            <div class="parallax"><img src="./img/1@2x.png"></div>

            <section class="about" id="aboutuslink">
                <div class="container">
                    <div class="row top-bottom">
                        <div class="col s12 m12 l6 top-margin right ">
                            <h2 class="white-text">#PushAMA and #PushQnA </h2>
                            <p class="white-text">
                                Learn from weekly online sessions hosted by Top Industry Leaders from across the World.
                            </p>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="about-img top">
                                <img src="./img/about.png" alt="Group of People" />
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>

        <div class="parallax-container">
            <div class="parallax"><img src="./img/1@2x.png"></div>

            <section class="about" id="aboutuslink">
                <div class="container">
                    <div class="row top-bottom">
                        <div class="col s12 m12 l6 top-margin ">
                            <h2 class="white-text">#PushConnect and #PushMeetup
                            </h2>
                            <p class="white-text">
                                Meet curated Entrepreneurs and Grow your knowledge and network.
                                Learn more

                            </p>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="about-img top">
                                <img src="./img/about.png" alt="Group of People" />
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>



        <!-- Achievements -->
        <section class="achievements">
            <div class="container">
                <div class="row top-bottom">
                    <div class="col s12 m12 center-align head">
                        <h2>Achievements</h2>
                        <p class="bottom">
                            We connect leaders, infuse conversation with creativity and produce results
                            Here are some key milestones.
                        </p>
                    </div>
                    <div class="center-align bottom ">
                        <div class="col s3">
                            <h3>17K+</h3>
                            <p6 class="bottom">Pushstarters</p6>
                        </div>
                        <div class="col s3">
                            <h3>15K+</h3>
                            <p6 class="bottom">Events</p6>
                        </div>
                        <div class="col s3">
                            <h3>20+</h3>
                            <p6 class="bottom">Cities</p6>
                        </div>
                        <div class="col s3">
                            <h3>20+</h3>
                            <p6 class="bottom">Launches</p6>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Carousel -->

      <container>
          <h2 class="center">What Pushstarters are saying</h2>
        <section class="variable slider">

            <div>
                
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 1</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 2</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 3</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 4</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 5</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 6</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card" style="width: 250px;">
                            <div class="card-image">
                                <img src="images/author-1.jpg">
                                <span class="card-title">Title 7</span>
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum
                                    dummy text Lorem ipsum dummy text</p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </section>





        <!--What Pushstarters are saying-->
        
        <!-- Featured Brands -->
        <section class="brands">
            <div class="container">
                <div class="row top-bottom">
                    <div class="col s12 m12 center-align head">
                        <h2 class="bottom">Featured brands</h2>
                        <div class="row">
                            <div class="col s3">
                                <img src="./img/assoc/forbes.png" height="110" width="180" /></div>
                            <div class="col s5">
                                <img src="./img/assoc/springboard.png" height="130" width="500" /></div>
                            <div class="col s4">
                                <img src="./img/assoc/pragmatic.png" height="130" width="300" /></div>
                            <div class="col s4">
                                <img src="./img/assoc/razorpay.png" height="120" width="400" /></div>
                            <div class="col s4">
                                <img src="./img/assoc/upgrad.png" height="120" width="300" /></div>
                            <div class="col s4">
                                <img src="./img/assoc/gmi.png" height="150" width="170" /></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe -->
        <section class="scrollspy2">
            <section class="subscribe-bottom scrollspy" id="join">
                <div class="container">
                    <div class="row">
                        <div class="subscribe-text">
                            <div class="col s12">
                                <h2>
                                    Sign up to the <span>Most Active Community</span>
                                    of <span>Entrepreneur</span> in India
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/signup" method="POST">
                            <div class="input-field col s6">
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="Your email id" />
                            </div>
                            <div class="input-field col s6 inline-btn">
                                <button type="submit" class="waves-effect waves-light btn">Join Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>
        <footer class="page-footer">
            <div class="container top-bottom">
                <div class="row content-footer">
                    <div class="col s12 m12 l12">
                        <div class="col s12 m12 l4">
                            <img src="./img/logo.svg" alt="logo"><br>
                            <p style="color:#6B7B83">A platform for Entrepreneurs to Express themselves and Connect with
                                other like-minded Entrepreneurs to Grow their Business</p>
                        </div>
                        <!-- <div class="col s12 m12 l4 center-align">
                                <h5 style="margin: 0; padding-top: 0;">Links</h5>
                                </div>
                                <div class="col s12 m12 l4 center-align">
                                <h5 style="margin: 0; padding-top: 0;">Follow Us!</h5>
                                </div> -->
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center-align dark-text">
                    © 2019 Copyright Pushstart
                </div>
            </div>
        </footer>
    </main>
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js"></script>


    <script src="./img/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });

        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });
        $(document).ready(function () {
            $('.scrollspy2').scrollSpy();
        });
        $('#vid_1').magnificPopup({
            items: {
                src: 'https://www.facebook.com/v2.5/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fvideo.php%3Fv%3D10154556367432847'
            },
            type: 'iframe'
        });


        $('#vid_2').magnificPopup({
            items: {
                src: 'https://www.facebook.com/v2.5/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fvideo.php%3Fv%3D10154556367432847'
            },
            type: 'iframe'
        });
    </script>
</body>

</html>