<nav>
        <div class="navbar">
            <div class="nav-wrapper white ">
                <a href="/" class="brand-logo left">
                <img src="./img/logo.svg" />
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down ">
                    <li><a href="#">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#join" >Join Pushstart</a></li>
                    </div>
                </ul>
                <!-- Mobile Side Nav -->
                <ul id="slide-out" class="sidenav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="#join">Joint Pushstart</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
            </nav>
        </div>
    </nav>